.layout-top-nav .wrapper .main-header .brand-image {
    margin-top: -.5rem;
    margin-right: .2rem;
    height: auto;
}

.main-footer .brand-image {
    width: 130px;
}

.main-footer .qr-image {
    width: 80px;
    height: 80px;
}

.container {
    background-color: white;
    padding: 0;
}

.cate-heading {
    font-size: 1.5rem;
}

.small-product img {
    border: 3px solid #adb5bd;
    margin: 0 auto;
    padding: 3px;
    width: 100%;
}

.product-img {
    border: 3px solid #adb5bd;
    margin: 0 auto;
    padding: 3px;
    width: 100%;
}

.social-links {
    padding-left: 0;
    list-style: none;
}

.social-links>li {
    float: left;
    padding: 5px;
    text-align: center;
    color: white;
    // width: 25%;
}

.social-links>li img {
    width: 30px;
}

.contact-item {
    display: flex;
    margin: 3px;
}

.contact-item img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.contact-item span {
    font-size: 1.1rem;
}

.contact-holder {
    min-height: 250px;
    padding: 8px;
}

.bg-high-color {
    background-color: #fc5e08;
    color: white;
}

.high-color {
    color: #fc5e08;
}

.carousel-item img {
    width: 100%;
    height: 38vw;
}

.auto-height-img {
    width: 100%;
    height: auto;
    max-width: 50vw;
}

.lh-1 {
    line-height: 1rem;
}

.lh-2 {
    line-height: 1.5rem;
}

.lh-3 {
    line-height: 2rem;
}

.lh-4 {
    line-height: 2.5rem;
}

.lh-4 {
    line-height: 3rem;
}