.layout-top-nav .wrapper .main-header .brand-image {
    margin-top: -.5rem;
    margin-right: .2rem;
    height: auto;
}

.main-footer .brand-image {
    width: 130px;
}

.main-footer .qr-image {
    width: 80px;
    height: 80px;
}

.container {
    background-color: white;
    padding: 0;
}

.cate-heading {
    font-size: 1.5rem;
}

.small-product img {
    border: 1px solid #3490dc;
    margin: 0 auto;
    padding: 3px;
    width: 100%;
}

.product-img {
    border: 1px solid #3490dc;
    margin: 0 auto;
    padding: 3px;
    width: 100%;
}

.home-image {
    width: 100%;
    height: auto;
    position: absolute;
}

@media (max-width: 768px) {
    .home-image {
        opacity: 0.3;
    }
    .small-product img {
        margin-top: 10px;
    }
}

.social-links {
    padding-left: 0;
    list-style: none;
}

.social-links>li {
    float: left;
    padding: 5px;
    text-align: center;
    color: white;
    // width: 25%;
}

.social-links>li img {
    width: 30px;
}

.contact-item {
    display: flex;
    margin: 3px;
}

.contact-item img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.contact-item span {
    font-size: 1.1rem;
}

.contact-holder {
    min-height: 250px;
    padding: 8px;
}

.bg-high-color {
    background-color: #fc5e08;
    color: white;
}

.high-color {
    color: #fc5e08;
}

.carousel-item img {
    width: 100%;
    height: 38vw;
}

.auto-height-img {
    width: 100%;
    height: auto;
    max-width: 50vw;
}

.auto-height-img-full {
    width: 100%;
    height: auto;
}

.lh-1 {
    line-height: 1rem;
}

.lh-2 {
    line-height: 1.5rem;
}

.lh-3 {
    line-height: 2rem;
}

.lh-4 {
    line-height: 2.5rem;
}

.lh-4 {
    line-height: 3rem;
}

.cornit-text {
    color: $kornit;
}

.cornit-bg {
    background-color: $kornit;
}

.melco-text {
    color: $melco;
}

.melco-bg {
    background-color: $melco;
}

.partners-heading {
    position: absolute;
    right: 0;
    bottom: 0;
    left: auto;
    width: 50% !important;
    top: 0;
    z-index: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    // text-align: center;
    //background-color: red;
    //opacity: 0.7;
    //border-radius: 0 0 0 25%;
}

.over-lay-dtg {
    left: 10% !important;
    right: auto !important;
}

.over-lay-single {
    left: 0 !important;
    right: auto !important;
}

.over-lay-multi {
    left: 15% !important;
    right: auto !important;
}

.partners-heading .mask {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.85;
}

.kornit-mask {
    top: 10% !important;
    border-radius: 26% 0 0 0;
    background-color: #2befc4;
}

.melco-mask {
    border-radius: 0 0 0 26%;
    background-color: red;
}

.melco-single-mask {
    border-radius: 0 0 0 26%;
    background-color: red;
    top: 40% !important;
}

.kornit-dtg-mask {
    border-radius: 0 0 0 26%;
    background-color: #2befc4;
}

.kornit-dtf-mask {
    top: 25% !important;
    border-radius: 26% 0 0 0;
    background-color: #2befc4;
}

.kornit-acc-mask {
    top: 5% !important;
    border-radius: 26% 0 0 26%;
    background-color: #2befc4;
}

.partners-heading .kornit {
    position: absolute;
    left: 10%;
    top: 30%;
}

.partners-heading .melco {
    position: absolute;
    left: 10%;
    top: 30%;
}

.partners-heading button {
    background-color: black;
    color: white;
    //opacity: 1;
    width: 30%;
    left: auto;
    right: auto;
    z-index: 15;
}

@media (min-width: 576px) {
    .partners-heading {
        width: 50% !important;
        padding-top: 20px;
    }
    .partners-heading h2 {
        font-size: 1.8rem;
        color: white;
    }
    .partners-heading p {
        color: white;
    }
    .partners-heading button {
        width: auto;
    }
    .software {
        font-size: 1.1rem;
    }
    .software>div {
        padding-top: 20px;
    }
    .accessories>div {
        padding-top: 20px;
    }
}

@media (min-width: 768px) {
    .partners-heading {
        width: 35% !important;
        padding-top: 40px;
    }
    .partners-heading h2 {
        font-size: 2.3rem;
    }
    .partners-heading button {
        width: auto;
    }
    .software>div {
        padding-top: 40px;
    }
    .accessories>div {
        padding-top: 40px;
    }
}

@media (min-width: 992px) {
    .partners-heading {
        padding-top: 80px;
        width: 25% !important;
    }
    .partners-heading h2 {
        font-size: 2.8rem;
    }
}

@media(min-width: 1200px) {
    .partners-heading {
        padding-top: 80px;
        width: 25% !important;
    }
    .partners-heading h2 {
        font-size: 3rem;
    }
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/*----------------------------------
22 - Blog Posts
----------------------------------*/

.posts-wrap {
    overflow: hidden;
    margin: 0 0 50px;
}

.posts-list {
    margin: 0 -15px;
}

.posts-list:after {
    clear: both;
    content: '';
    display: block;
}

.posts-list .posts-i {
    color: #373d54;
    position: relative;
    width: 33.33333%;
    padding: 0 15px;
    float: left;
    margin: 0 0 30px;
    height: 236px;
    overflow: hidden;
}

@media (max-width: 576px) {
    .posts-list .posts-i {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

.posts-i .posts-i-img {
    display: block;
    height: 100%;
    overflow: hidden;
    border: none;
    position: relative;
}

.posts-i .posts-i-img:after {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0);
    transition: background 0.5s;
}

.posts-i:hover .posts-i-img:after {
    background: rgba(0, 0, 0, 0.5);
}

.posts-i .posts-i-img span {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    display: block;
    -o-background-size: cover !important;
    -moz-background-size: cover !important;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}

.posts-i:hover .posts-i-img span {
    -webkit-transform: scale3d(1.05, 1.05, 1);
    -moz-transform: scale3d(1.05, 1.05, 1);
    -ms-transform: scale3d(1.05, 1.05, 1);
    -o-transform: scale3d(1.05, 1.05, 1);
    transform: scale3d(1.05, 1.05, 1);
}

.posts-i .posts-i-date {
    text-transform: uppercase;
    font-size: 13px;
    text-align: center;
    font-weight: 300;
    padding: 0;
    position: absolute;
    color: #fff;
    top: 15px;
    left: 35px;
    opacity: 0;
    transition: all 0.3s ease-in;
}

.posts-i:hover .posts-i-date {
    opacity: 1;
    top: 20px;
}

.posts-i .posts-i-date span {
    display: block;
    font-size: 28px;
    line-height: 1;
    font-family: 'PT Serif', Roboto, sans-serif;
    font-weight: 700;
    margin: 0 0 1px;
}

.posts-i .posts-i-info {
    position: absolute;
    bottom: 15px;
    left: 35px;
    right: 35px;
    padding: 0;
    color: #fff;
    line-height: 1;
    opacity: 0;
    transition: all 0.3s ease-in;
}

.posts-i:hover .posts-i-info {
    opacity: 1;
    bottom: 20px;
}

.posts-i .posts-i-ttl {
    font-family: 'PT Serif', Roboto, sans-serif;
    font-size: 19px;
    font-weight: 700;
    margin: 0;
    line-height: 1.2;
}

.posts-i .posts-i-ttl a {
    border: none;
    color: #fff;
    line-height: 1.2;
    transition: color 0.2s;
}

.posts-i .posts-i-ttl a:hover {
    color: #b3bede;
}

.posts-i .posts-i-ctg {
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0 0 7px;
    display: inline-block;
    line-height: 1;
    border: none;
    color: #fff;
    transition: color 0.2s;
}

.posts-i .posts-i-ctg:hover {
    color: #b3bede;
}

.posts-list-rel {
    margin: 0;
    padding: 0 0 50px;
    overflow: hidden;
}

.posts-list-rel ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.posts-list-rel .posts-i {
    padding: 0;
    margin: 0;
    list-style: none !important;
}

.posts-list-rel .posts-i .posts-i-info {
    left: 22px;
    right: 22px;
}

.posts-list-rel .posts-i .posts-i-date {
    left: 22px;
}

.posts-list-rel .flex-control-nav {
    bottom: 10px;
    margin: 0;
    list-style: none;
}

.posts-list-rel .flex-control-nav li {
    margin: 0 4px;
}

.posts-list-rel .flex-control-nav li a {
    display: block;
    box-shadow: none;
    border-radius: 0;
    width: 23px;
    height: 3px;
    background: #e0e4f6;
    box-shadow: none;
    transition: all 0.2s;
    border: none;
}

.posts-list-rel .flex-control-nav li a:hover {
    background: #373d54;
}

.posts-list-rel .flex-control-nav li a.flex-active {
    background: #373d54;
    cursor: default;
}

.posts-list-rel .flex-direction-nav a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    opacity: 1 !important;
    margin: -48px 0 0;
    position: absolute;
    top: 50%;
    color: #373d54;
    text-shadow: none;
    z-index: 2;
    background: rgba(255, 255, 255, 0.8);
    border: none;
}

.posts-list-rel .flex-direction-nav a.flex-disabled {
    display: none;
}

.posts-list-rel .flex-direction-nav a:before {
    display: block;
    content: "\f104";
    font-size: 26px;
    text-indent: initial;
    color: #373d54;
    font-family: FontAwesome;
    transition: all 0.3s ease-in-out;
    text-shadow: none;
}

.post-wrap .flex-direction-nav a.flex-next:before {
    margin: 0 0 0 4px;
    content: "\f105";
}

.post-wrap .flex-direction-nav a.flex-prev:before {
    margin: 0 2px 0 0;
    content: "\f104";
}

.posts-list-rel .flex-direction-nav a:hover {
    background: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.posts-list-rel.flexslider:hover .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 20px;
}

.posts-list-rel.flexslider:hover .flex-direction-nav .flex-next {
    opacity: 1;
    right: 20px;
}


/*----------------------------------
22 - Blog Posts
----------------------------------*/


/*----------------------------------
32 - Banners
----------------------------------*/

.banners-list {
    margin: 0 -10px 50px;
}

.banners-list:after {
    clear: both;
    content: '';
    display: block;
}

.banners-list .banner-i {
    width: 50%;
    padding: 0 10px;
    margin: 0 0 20px;
    position: relative;
    float: left;
}

.banner-i .banner-i-cont {
    position: absolute;
    color: #373d54;
    font-size: 13px;
    top: 0;
    left: 10px;
    right: 10px;
    overflow: hidden;
}

.banner-i p {
    margin: 0 0 24px;
}

.banner-i .banner-i-img {
    display: block;
    width: 100%;
}

.banner-i .banner-i-bg {
    display: block;
    width: 100%;
    height: 360px;
    -o-background-size: cover !important;
    -moz-background-size: cover !important;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}

.banner-i .banner-i-ttl {
    font-size: 20px;
    margin: 0 0 24px;
    font-weight: 700;
    line-height: 1.2;
}

.banner-i .banner-i-ttl * {
    line-height: 1.2;
}

.banner-i .banner-i-subttl {
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin: 0 0 11px;
}

.banner-i .banner-i-link {
    margin: 24px 0 35px;
}

.banner-i .banner-i-link a {
    background: #373d54;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    padding: 8px 20px;
    font-weight: 700;
    display: inline-block;
    transition: all 0.2s;
    letter-spacing: 1px;
}

.banner-i .banner-i-link a:hover {
    background: #474f6e;
}

.banners-list .banner-i.style_11,
.banners-list .banner-i.style_12 {
    width: 50%;
}

.banners-list .banner-i.style_21,
.banners-list .banner-i.style_22 {
    width: 25%;
    text-align: center;
}

.banners-list .banner-i.style_11 .banner-i-cont {
    position: absolute;
    right: 90px;
    width: 208px;
    top: 50%;
    padding: 47px 0 0 40px;
    left: auto;
    background: rgba(55, 61, 84, 0.9);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
}

.banners-list .banner-i.style_11 .banner-i-link a {
    background: transparent;
    padding: 0;
    font-weight: 500;
    position: relative;
}

.banners-list .banner-i.style_11 .banner-i-link a:after {
    content: '\f105';
    font-family: FontAwesome;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    margin: -1px 0 0 10px;
}

.banners-list .banner-i.style_12 .banner-i-cont {
    position: absolute;
    right: 45px;
    width: 208px;
    top: 50%;
    padding: 47px 0 0 0;
    left: auto;
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.banners-list .banner-i.style_12 .banner-i-ttl {
    margin: 0 0 12px;
}

.banners-list .banner-i.style_12 .banner-i-link {
    margin: 35px 0 35px;
}

.banners-list .banner-i.style_21 .banner-i-cont {
    bottom: 0;
    top: auto;
}

.banners-list .banner-i.style_22 .banner-i-cont {
    bottom: 0;
    top: 33px;
}

.banners-list .banner-i.style_22 .banner-i-link {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}


/*----------------------------------
32 - Banners
----------------------------------*/